<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Junkmanager!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Junkmanager</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-contents" aria-controls="nav-contents" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="nav-contents" class="collapse navbar-collapse">
        <%= case Doorman.logged_in?(@conn) do %>
        <% true -> %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Inventory</a>
            </li>
          </ul>
          <%  user = Doorman.Login.Session.get_current_user(@conn) %>
          <span class="navbar-text">Welcome, <%= user.username %></span>
          <a class="nav-link" href="<%= page_path(@conn, :update) %>"> logout </a>
        <% false -> %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">About</a>
            </li>
          </ul>
          <a class="nav-link" href="<%= page_path(@conn, :new) %>"> login </a>
        <% end %>
      </div>
    </nav>
    <main role="main">
    <%= if get_flash(@conn, :info) do %>
      <div class="alert alert-info alert-dismissable fade show" role="alert"> 
        <%= get_flash(@conn, :info) %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= if get_flash(@conn, :error) do %>
      <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <%= get_flash(@conn, :error) %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
      <div class="container-fluid">
        <%= render @view_module, @view_template, assigns %>
        
      </div> <!-- /container -->
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
