<div class="jumbotron">
  <h2><%= gettext "Welcome to Junkmanager!" %></h2>
  <p class="lead">Junkmanager is a platform to manage inventory for small web thrift resale businesses</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Features</h4>
    <p>
      
    </p>
  </div>
</div>
